.calc-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 1px;
  background-color: #c2c2c2;
  width: 350px;
  margin: 50px auto;
}

.calc-display {
  grid-column: 1 /span 4;
  background-color: #858692;
  padding: 0.7rem;
  color: white;
  font-size: 1rem;
  text-align: right;
}

.zero-btn {
  grid-column: 1 /span 2;
}

button {
  border: none;
  padding: 0.7rem;
}

button[class^='orange'] {
  background-color: #f5913e;
}